node_modules
.git
*.log

application/node_modules
application/client/node_modules
application/e2e/node_modules
application/server/node_modules
application/dist
application/stats.json
application/.server.pid
application/server/seeds
application/server/upload
